.heading{
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    letter-spacing: .5rem;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content{
    margin-top: 25px;
    text-align: justify;
}

.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}

.head{
    background-color: #8c2b00ed;
    padding-left: 10px;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px; 
}


.success{
    margin: 20px;
    padding: 20px;
}





